body {
    background-color: darkolivegreen;
    color: lightgrey;
    font-size: 3rem;
    text-align: center;
    font-family: 'Black Ops One', cursive;
}

.explode {
    color: red;
    text-shadow: 2px 2px yellow;
}

.safe {
    color: springgreen;
    text-shadow: 2px 2px black;
}
